::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: .2;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: .3;
}

::selection {
    background: rgba(0,0,0,.0);
    color: #A95AE8;
}
  
body {
    overflow-x: hidden;
}

h1, h2, h4 {
    font-family: "Sofia Sans Extra Condensed", sans-serif;
    letter-spacing: -0.02em;
    line-height: 0.6;
    font-variant-caps: all-petite-caps;
    font-weight: 700;
}

h3 {
    font-family: 'Inter', sans-serif;
    letter-spacing: -.04em;
    line-height: 1;
}

p, a, li {
    font-family: 'Inter', sans-serif;
    letter-spacing: -.03em;
    line-height: 1.2;
}

a {
    transition: .5s;
}

a:hover {
    transition: .5s;
}

@media (min-width: 460px) {
    .so-row {
        padding: 0 20px 0 20px;
    }

    .navlist {
        padding-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    .navlist a {
        font-size: 22px;
        margin: 0 30px 0 0;
        font-variant-caps: all-petite-caps;
    }
}

@media (max-width: 460px) {
    .navlist {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .so-row {
        padding: 0 20px 0 20px;
    }

    .navlist a {
        font-size: 18px;
        margin-left: 20px;
        font-variant-caps: all-petite-caps;
    }
}

.navlist select {
    margin: 0;
    padding: 5px;
    background-color: rgba(0,0,0,.0);
    outline: none;
    border: none;
    color: #757575;
    font-size: 17px;
    cursor: pointer;
}

#lang-switch option {
    color: #000;
    padding: 5px 20px;
    border: none;
}

.annotation {
    opacity: .5;
    font-size: 14px;
    letter-spacing: -.01em;
}

.topnav {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    position: fixed;
    z-index: 1;
    mix-blend-mode: difference;
}

.navlist {
    padding-top: 20px;
}

.topnav a {
    color: #ffffff;
    font-weight: 300;
}

.topnav a:hover {
    transition: .3s;
}

.topnav img {
    width: 80px;
    margin: 0;
    padding-top: 15px;
}

.greet-works {
    position: absolute;
    top: 80px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.greet-works img {
    width: 175px;
    height: 220px;
    object-fit: cover; 
}

.greet-works a {
    color: #000;
    font-variant-caps: all-petite-caps;
    font-size: 22px;
    line-height: 0.7;
    margin-top: 10px;
    text-align: end;
}

@media (min-width: 460px) {
    .greetings {
        width: 100vw;
        height: 96vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;
        padding-bottom: 30px;
    }

    .greetings h1 {
        color: #151515;
        font-size: calc(4em + 12vw);
        margin: 0;
        line-height: 0.6;
    }

    .greetings-text {
        display: flex;
        flex-direction: row;
    }

    .greetings-text p {
        margin: 25px 15px 0 180px;
        text-align: end;
        font-variant-caps: all-petite-caps;
        font-size: 22px;
        line-height: 0.85;
    }
}

@media (max-width: 1050px) {
    .greetings-text p {
        display: none;
    }
}

@media (max-width: 460px) {
    .greetings {
        width: 100vw;
        height: 94vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        margin-top: 0;
    }

    .greetings h1 {
        /* font-size: 95px; */
        font-size: calc(3em + 12vw);
        margin: 0;
    }
}

.h-color {
    color: #ff6832;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: .3;
    position: absolute;
    bottom: 0;
}

#invisible {
    display: none;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -.01em;
    color: #000000;
    position: absolute;
    bottom: 7vh;
    right: 20px;
}

#show-invisible:hover~#invisible {
    transition: .4s;
    display: block;
    margin: 0;
}

.advantages {
    width: 100vw;
}

@media (min-width: 460px) {
    .advantages-text {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 50px;
        margin-bottom: 25vh;
    }

    .advantages-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50vw;
    }
    
    .advantages-right p {
        color: #151515;
        font-size: 17px;
        font-weight: 400;
        width: 40vw;
    }
}

@media (max-width: 460px) {
    .advantages-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 40px;
        margin-bottom: 8vh;
    }

    .advantages h2 {
        color: #151515;
        font-size: 52px;
        font-weight: 500;
        line-height: 1;
        width: 100%;
        margin: 0 0 10px 0;
    }

    .advantages-right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    
    .advantages-right p {
        color: #151515;
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        opacity: .8;
    }

    .brands {
        padding: 0 0 5vh 0;
    }
}

.advantages-right a {
    color: #FF6E00;
    font-size: 16px;
    font-weight: 500;
    margin-top: 25px;
    transition: .5s;
}

.advantages-right a:hover {
    color: #ff751f;
}

.brands {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden
}

.logos {
    display: inline-block;
    -webkit-animation: marquee 35s infinite linear;
    -moz-animation: marquee 35s infinite linear;
    animation: marquee 35s infinite linear;
}

@media (min-width: 460px) {
    .brands img {
        height: 82px;
        margin: 0 0 0 75px;
        display: inline-block;
        filter: grayscale(100%);
        transition: .4s;
    }

    .brands img:hover {
        filter: grayscale(0%);
        transition: .5s;
    }
}

@media (max-width: 460px) {
    .brands img {
        width: 140px;
        opacity: .9;
        margin: 0 0 0 30px;
        display: inline-block;
    }
}

@keyframes marquee {
    0% {
       transform: translate(0, 0);
    }
    
    100% {
       transform: translate(-100%, 0);
    }
}

.brands img:hover {
    transition: .3;
}

.more-works-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.more-works-text a {
    font-weight: 500;
    font-variant-caps: all-petite-caps;
    color: #000;
}

.more-works-text button {
    font-size: 18px;
    border-radius: 30px;
    padding: 2px 20px;
    background-color: #fff;
    border: 1px solid rgb(208, 208, 208);
}

.more-works-text a:hover {
    text-decoration: none;
}

@media (min-width: 460px) {
    .more-works {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 80px 0;
    }

    .more-works-card {
        width: 49.5%;
        display: flex;
        flex-direction: column;
        display: inline-block; 
        overflow: hidden;
    }

    #img1 {
        width: 100%;
        height: 80vh;
        object-fit: cover; 
        transition: .5s;
    }

    #img2 {
        width: 100%;
        height: 120vh;
        object-fit: cover; 
        transition: .5s;
    }

    #img1, #img2 {
        transition: 0.7s;
        display: block;
    }
    
    #img1:hover, #img2:hover {
        transform: scale(1.03);
    }
    
    .more-works-text a {
        font-size: 26px;
    }
}

@media (max-width: 460px) {
    .more-works {
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;
    }

    .more-works-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
    }

    .more-works-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .more-works-card img {
        width: 100%;
        height: 35vh;
        object-fit: cover; 
        transition: .5;
    }
    
    .more-works-text a {
        font-size: 24px;
        line-height: 0.9;
    }
}

.more-works-text p {
    padding-bottom: 0;
}

.explore-more {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 100px;
}

.explore-anno {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.explore-anno a {
    color: #FF6E00;
}

.explore-cont a {
    color: #000;
}

.explore-more a:hover {
    color: #000;
    text-decoration: none;
    transition: .5s;
}

.explore-more p {
    color: #555;
}

.explore-cont {
    margin-top: 30px;
}

.explore-work {
    position: relative;
}

.explore-work hr {
    border-top: 1px solid #000000;
    opacity: .1;
}

.exp button {
    font-size: 15px;
    border-radius: 30px;
    padding: 5px 20px;
    background-color: #fff;
    border: 1px solid rgb(208, 208, 208);
}

@media (min-width: 460px) {
    .explore-work h1 {
        font-size: 95px;
        transition: .6s;
    }

    .exp button {
        transition: .6s;
    }

    .exp:hover > h1 {
        transition: ease .6s;
        transform: translate(-20px, 0);
    }

    .exp:hover > button {
        transition: ease .6s;
        transform: translate(20px, 0);
    }

    .exp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 40px;
    }
}

@media (max-width: 460px) {
    .explore-work h1 {
        font-size: 30px;
        width: 70%;
    }

    .exp {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 0px;
    }

    .explore-work h4 {
        text-align: end;
    }
}

.follow-img-1, .follow-img-2, .follow-img-3 {
    height: 300px;
    width: 250px;
    box-sizing: border-box;
    transition: ease .2s;
    position: absolute;
    object-fit: cover;
}


/* ##################### FOOTER ############################### */
.footer {
    width: 100vw;
    background-color: #ff6832;
    color: #092321;
}

.footer a {
    /* color: #D5D5D5; */
    color: #092321;
}

.footer a:hover {
    opacity: .8;
    transition: .3s;
}

.foo-cont {
    width: 100%;
}

.foo-contact img {
    width: 36px;
    padding-right: 10px;
}

.foo-desc h1 {
    margin: 0;
    font-variant-caps: all-petite-caps;
    line-height: 0.5;
}

.copyright {
    font-weight: 400;
    padding-bottom: 10px;
    font-variant-caps: all-petite-caps;
}


@media (min-width: 460px) {
    .footer {
        height: 86vh;
    }

    .foo-desc {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .foo-desc h1 {
        font-size: calc(5.2em + 12vw);
        line-height: .44;
        padding-bottom: 40px;
    }

    .foo-desc span {
        font-size: 200px;
    }

    .foo-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .foo-text {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
    }

    .foo-text a {
        font-size: 24px;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        line-height: .9;
        margin: 0 0 5px 0;
    }

    .foo-text p {
        font-size: 24px;
        font-weight: 500;
        font-variant-caps: all-petite-caps;
        width: 160px;
        line-height: .9;
    }

    .foo-links {
        display: flex;
        flex-direction: column;
    }

    .foo-behance {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 98;
    }
    
    .foo-behance img {
        width: 175px;
        height: 220px;
        object-fit: cover; 
        margin-top: 20px;
    }

    .foo-behance a:hover {
        opacity: 1;
    }
    
    .foo-behance a {
        color: #000;
        font-variant-caps: all-petite-caps;
        font-size: 22px;
        line-height: 0.7;
        margin-top: 10px;
        text-align: end;
    }

    .copyright h1 {        
        /* font-size: calc(2em + 10vw); */
        font-size: 170px;
        line-height: .5;
        margin: 0;
    }



    #myBtn {
        display: none;
        position: fixed;
        bottom: 30px;
        right: 20px;
        z-index: 99;
        font-size: 16px;
        border: none;
        outline: none;
        background-color: #f95f27;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 40px;
      }
      
      #myBtn:hover {
        background-color: #ff751f;
      }
    
      #myBtn img {
        width: 25px;
        height: 25px;
      }
}

@media (max-width: 460px) {
    .footer {
        height: 90vh;
    }
    
    .foo-desc h1 {
        font-size: 60px;
        padding-bottom: 20px;
    }

    .foo-desc p {
        font-size: 14px;
        font-weight: 200;
    }

    .foo-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 10px;
    }

    .foo-contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .foo-contact a {
        font-size: 28px;
        margin-bottom: 15px;
    }

    .foo-links {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .foo-links p {
        color: #7A7A7A;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .foo-links-row {
        display: flex;
        flex-direction: column;
        font-size: 16px;
    }

    .foo-links-row a {
        margin: 15px 0 0 0;
        color: #D5D5D5;
    }

    .foo-behance {
        display: none;
    }


    #myBtn {
        display: none;
    }
}
